{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}BIOSHOCK
{% endblock %}

{% block body %}
	<div class="Prez bg-dark d-flex align-items-center justify-content-center">
		<h4 class="rond text-light m-0 py-5 rounded-pill">WELCOME TO RAPTURE</h4>
	</div>
{% endblock %}
