{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}
	{{parent()}}
	| Accueil
{% endblock %}

{% block body %}
	<h1 class="text-light d-flex justify-content-center align-items-center my-3">Bienvenue Andrew Ryan</h1>
{% endblock %}
