{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier le personnage
{% endblock %}

{% block body %}
	<h1 class="pt-4 ms-2 text-center text-light">Modifier le personnage</h1>

	<a class="ms-5 btn btn-primary" href="{{ path('admin_bestiary_index') }}">
		<i class="bi bi-arrow-left"></i>Retour à la liste</a>

	<div class="w-50 mx-auto my-4 text-center text-light">
		{{ include('admin/admin_bestiary/_form.html.twig', {'button_label': 'Modifier'}) }}
	</div>

	<div class="w-50 mx-auto my-4 text-center">
		{{ include('admin/admin_bestiary/_delete_form.html.twig') }}
	</div>
{% endblock %}
