{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Univers
{% endblock %}

{% block body %}
	<main class="container d-flex justify-content-center flex-column">
		<section>
			<h1 class="text-center p-2 mt-5">"Test"</h1>
		</section>
		<div class="corner my-5">
			<h2 class="text-center text-secondary">
				Test
			</h2>

			<div class="row justify-content-center">
				<p class="w-75">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut harum laborum impedit cumque magni fugit tempore iste corporis. Nihil architecto vero autem eos praesentium placeat facilis, quae quis voluptate!
				</p>
			</div>
		</div>

		<section class="row align-items-center">
			<img src="{{ asset('build/images/Test.jpeg') }}" class="col-lg-6 my-4" alt="Test"/>
			<div class="corners col-lg-6">
				<div class="card-body">
					<h2 class="card-title text-secondary">Test</h2>
					<p class="card-text">
						Test
					</p>
				</div>
			</div>
		</section>

		{# <section class="row align-items-center mb-5 flex-column-reverse flex-lg-row">
			<div class="col-lg-6">
				<div class="corners card-body">
					<h2 class="card-title text-secondary">Promouvoir</h2>
					<p class="card-text">
						Promouvoir la culture vidéo ludique auprès du grand public via la création d’ateliers, de conférences ou d'expositions.
					</p>
				</div>
			</div>
			<img src="{{ asset('build/images/mannettes2.jpg') }}" class="col-lg-6 my-4" alt="Gaming Photo"/>
		</section> #}
	</main>

{% endblock %}
