.Prez {
    height: 200px;
    width: 100%;
}

.rond {
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

h4:hover {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(255, 210, 85),
    0 0 82px rgb(255, 153, 85),
}