@import "variables.scss";

// $r: random(155)+100;
// $g: random(155)+100;
// $b: random(155)+100;

nav {
  border-radius: 0 0 50px 50px;
  border-bottom: 2px solid #ffd99c;
  overflow: hidden;
  &:hover {
    // border-bottom: 2px solid rgb($r, $g, $b);
    // box-shadow: 0 0 20px rgba($r, $g, $b, 0.5);
    border-bottom: 2px solid #ffd99c;
    box-shadow: 0 0 20px rgba(#ffd99c, 0.5);
    animation: flash 1.4s linear infinite;
  }
  &:hover li a span{
    color: #ffd99c;
    text-shadow: 0 0 10px rgba(#ffd99c, 0.8);
    animation: flash 1.4s linear infinite;
  }
}
@keyframes flash {
  0% {
    color: #ffd99c;
    text-shadow: none;
  }
  100% {
    color: #ffd99c;
    text-shadow: 0 0 7px #ffd99c, 0 0 50px #ffd99c;
  }
}

// Rouille style pas fini
// nav {
//   background-image: url('../images/rouille.jpeg');
// }

a {
  font-family: $titleFont;
}

.rond {
  padding: 20px;
  border: 2px solid #ffd99c;
  border-radius: 20px;
}

h3 {
  font-size: 1.9rem;
  color: #fff;
  cursor: pointer;
  // text-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

span {
  font-size: 24px;
  display: inline-block;
  width: 0px;
  overflow: hidden;
  vertical-align: middle;
  transition: 1s ease-in-out;
}

h3:hover span:nth-child(1) {
  width: 40px;
  overflow: hidden;
}

h3:hover span:nth-child(2) {
  width: 100px;
  overflow: hidden;
}
