@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

$primary: #460259 ;
$secondary: #5DA676;
$light: #FFFFFF;
$dark: #000000;

$titleFont: 'Limelight', cursive;
$textFont: 'Poiret One', cursive;

$font-size-base: 1.25rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;