{% block stylesheets %}
	{{ encore_entry_link_tags('banner') }}
{% endblock %}

<div class="w-100 controller-img text-center">
	<a href="https://2k.com/en-US/game/bioshock-the-collection/" target="blank"><img class="w-25 py-5" src="{{ asset('build/images/Logo.png') }}" alt="Logo"></a>
</div>
