<footer class="footer bg-dark text-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="d-flex">
					<ul class="m-0 p-0">
						<li class="list-unstyled">
							<p>
								<i class="bi bi-house fs-5"></i>
								Orleans - Wild Code School - 45100</p>
						</li>
						<li class="list-unstyled">
							<p class="text">
								<i class="bi bi-envelope fs-5"></i>
								2k_Bioshock_game@gmail.com
							</p>
						</li>
						<li class="list-unstyled d-flex gap-2">
							<a class="text-light" href="#">
								<p>Mentions légales</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<div class="d-flex align-items-center justify-content-center h-100">
					<p class="rond">Admin</p>
				</div>
			</div>
		</div>
	</div>
</footer>
