{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

<div class="">
	{# <div class="d-flex justify-content-center align-items-center">
		<img class="Logo " src="{{ asset('build/images/Logo.png')}}" alt="Logo">
	</div> #}

	<video id="background-video" autoplay loop muted>

		<source src="{{ asset('build/images/LiveWallpaper.mp4')}}" type="video/mp4">

	</video>
</div>

{# It's work  #}
{# <img src="{{ asset('build/images/Test.jpeg') }}" alt=""> #}
